<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatoble" content="ie=edge">
    <title>Ingreso al sistema</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container">
        
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                
                <div class="card">
                    <div class="card-body">
                        <h2> Ingresar Credenciales</h2>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{ form | crispy}}

                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha" data-sitekey="6LdVmuQZAAAAAM2ORYR_mcgqnraAMKmbOHDKfdsk"></div>

                            <a href="{% url 'homepage' %}">Ir a Homepage</a>
                            <a href="{% url 'registro' %}">Registrate</a>
                            <input type="submit" value="Ingresar" class="btn btn-success float-right"> 
                        </form>
                    </div>
                </div>             
            </div>
        </div>
    </div>

</body>

</html>
