{% extends 'aplicacion/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

{% endblock %}

{% block contenido %}


<div class="slider">
    <div>
        <img src="{% static 'aplicacion/img/Ropa/pantalon.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'aplicacion/img/Ropa/pantalon1.png' %}" alt="">
    </div>
    <div>
        <img src="{% static 'aplicacion/img/Ropa/camisa.png' %}" alt="">
    </div>
</div>

<h2>Productos</h2>
<div class="productos">
{% for p in productos %}   
<div class="producto">

    <div class="contenedor_producto">
        {% if p.Imagen %}
        <img src="{{p.Imagen.url}}" alt="Imagen producto">
        {% endif %}
        <div class="detalle">
            <h5>{{ p.Nombre | title }}</h5>
            <h2>{{ p.Image}}</h2>
            <h3>Q{{ p.Precio}}</h3>
            <input type="submit" value="Comprar" class="btn btn-success float-right">
         
        </div>

    </div>

</div>
{% endfor %}




</div>

{% endblock %} 